:root {
  --dark-grey-accent: rgb(53, 53, 53);
  --light-grey-accent: rgba(0, 0, 0, 0.308);
  --grid-background: rgba(255, 150, 150, 0.144);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, button, input {
  font-family: 'DM Mono', monospace;
  color: var(--dark-grey-accent);
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
  margin: 0.5em auto;
  text-align: center;
}

button, .quantity {
  background-color: var(--grid-background);
  color: var(--dark-grey-accent);
  border-style: none;
  border-color: (--light-grey-accent);
  padding: 0.8rem;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  margin: 1em;
}

.prompt {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.form {
  display: flex;
  justify-content: center;
}

.sketch-area {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1em;
}

.dimensions {
  margin: 1em;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.container {
  /*
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: var(--grid-background);
  display: grid;
  width: 40rem;
  height: 40rem;
  border-width: 0.5rem;
  border-color: var(--light-grey-accent);
  border-style: dashed;
}

@media (max-width: 850px) {
  html, input, button {
    font-size: 13px;
  }

  .sketch-area {
    flex-direction: column;
  }

  .buttons {
    margin-top: 1rem;
  }

  .start-over, .eraser, .random-color, .gradient {
    margin: 0.5em;
  }
}

@media (max-width: 650px) {
  html, input, button {
    font-size: 11px;
  }

  .container {
    height: 32rem;
    width: 32rem;
  }

  .sketch-area {
    flex-direction: column;
  }
}