.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 30rem;
  height: 30rem;
  border-width: 0.5rem;
  border-color: rgba(0, 0, 0, 0.308);
  border-style: dashed;
}

.block {
  background-color: rgba(255, 150, 150, 0.144);
  /*height: 1.25em; */
}

.color {
  background-color: rgb(53, 53, 53);
  /*height: 1.25em; */
}