:root {
  --dark-grey-accent: rgb(53, 53, 53);
  --light-grey-accent: rgba(0, 0, 0, 0.308);
  --grid-background: rgba(255, 150, 150, 0.144);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--dark-grey-accent);
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
  margin: 0.5em auto;
  text-align: center;
}

p {
  color: black;
}

.container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 30rem;
  height: 30rem;
  border-width: 0.5rem;
  border-color: var(--light-grey-accent);
  border-style: dashed;
}